.footer {
    box-shadow: 0 -20px 60px 0 #dee1e8;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: darkgrey;
    background: #f9fafc;

    background-size: 50% auto;
    border-radius: 30px 30px;

    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .75rem 0;
}